<div class="container">
  <h2><%= @auction.title %> (Current highest bid: <%= @auction.max_bid %>)</h2>
  <p>Created by: <%= @auction.user.full_name %></p>
  <p>Detail: <%= @auction.details %></p>
  <p>Price: <%= @auction.price %></p>
  <p>Valid Until: <%= @auction.end_date %></p>


  <% if @auction.user == current_user %>
  <%= @auction.publish_button %>
  <% end %>
  <%= @auction.state_label %>


  <% if @auction.user == current_user %>
  <% else %>
  <br />
  <br />

    <%= simple_form_for [@auction, Bid.new] do |f| %>
    $<%= f.text_field :amount %>
    <%= f.submit "Bid!" %>
    <% end %>

  <% end %>

  <hr />

  <h3>Bids</h3>
  <% @bids.each do |b| %>
  <%= render "bids/bid", bid: b %>
  <% end %>

</div>
