<div class="container">
  <h2><%= @auction.title %> (Current highest bid: $<%= @auction.max_bid %>)</h2>
  <p>Created by: <%= @auction.user.full_name %></p>
  <p>Detail: <%= @auction.details %></p>
  <p>Price: <%= @auction.price %></p>
  <p>Valid Until: <%= @auction.end_date %></p>


  <% if @auction.user == current_user %>
  <%= @auction.publish_button %>
  <% end %>
  <%= @auction.state_label %>


  <% if @auction.user == current_user %>
  <% else %>
  <br />
  <br />
  <div class="new-bid">
    <%= render "bids/form" %>
    <!-- <label for="new-bid">Your bid: $</label>
    <input type="text" id="new-bid" />
    <input type="submit" id="bid-submit" data-aid="<%= @auction.id %>" value="Bid!" /> -->

  </div>

  <% end %>

  <hr />

  <h3>Bids</h3>
  <div class="bids">
    <% @bids.each do |b| %>
    <%= render "bids/bid", bid: b %>
    <% end %>
  </div>

</div>
